<?xml version ="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets async="true">
		<target type="File" name="file" fileName ="C:\Users\vk476\source\repos\NLog\NLog\LogFile.txt" keepFileOpen="true"/>		
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="file"/>
	</rules>
</nlog>